<% content_for :title, "Add exercise" %>

<%= form_with model: @exercise do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Name:", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% @exercise.errors.full_messages_for(:name).each do |message| %>
      <div class="alert alert-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :exercise_type, "Type:", {class: "form-label"} %>
    <%= form.select :exercise_type, @exercise_type, {}, {class: "form-control"} %>
    <% @exercise.errors.full_messages_for(:exercise_type).each do |message| %>
      <div class="alert alert-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :lesson_id, "Lesson:", {class: "form-label"} %>
    <%= form.select :lesson_id, @lessons.map {
        |lesson| [lesson.name, lesson.id]
      }, {}, {class: "form-control"}
     %>
    <% @exercise.errors.full_messages_for(:lesson_id).each do |message| %>
      <div class="alert alert-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>