<% content_for :title, "Add course" %>

<%= form_with model: @course do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Name:", class: "form-label" %><br>
    <%= form.text_field :name, class: "form-control" %>
    <% @course.errors.full_messages_for(:name).each do |message| %>
      <div class="alert alert-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :description, "Description:", class: "form-label" %><br>
    <%= form.text_field :description, class: "form-control" %>
    <% @course.errors.full_messages_for(:description).each do |message| %>
      <div class="alert alert-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :level, "Level:", class: "form-label" %><br>
    <%= form.text_field :level, class: "form-control" %>
    <% @course.errors.full_messages_for(:level).each do |message| %>
      <div class="alert alert-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Add", class: "btn btn-primary" %>
  </div>
<% end %>