<% content_for :title, "Edit question" %>

<%= form_with model: @question, url: "/exercises/#{@exercise_id}/questions/#{@question.id}" do |form| %>
  <div class="mb-3">
    <%= form.label :name, "Name:", class: "form-label" %>
    <%= form.text_field :name, class: "form-control" %>
    <% @question.errors.full_messages_for(:name).each do |message| %>
      <div class="alert alert-danger mt-1"><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit "Edit", class: "btn btn-primary" %>
  </div>
<% end %>