<% content_for :title, "Questions"%>
<h2 class="text-info text-center">List of Questions</h1>

<%= link_to 'Add questions'.html_safe, new_exercise_question_path(), class: "btn btn-primary" %>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Name: </th>
        <th>Created time: </th>
        <th>Updated time: </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% @questions.each do |question| %>
        <tr>
            <td><%= question.name%></td>
            <td><%= question.created_at %></td>
            <td><%= question.updated_at %></td>
            <td>
                <%= link_to '&#9432;'.html_safe, exercise_question_answers_path(@exercise_id, question.id), class: "btn btn-success" %>
                <%= link_to '&#9998;'.html_safe, edit_exercise_question_path(@exercise_id, question.id), class: "btn btn-primary" %>
                <%= link_to '&times;'.html_safe,
                    exercise_question_path(@exercise_id, question.id), class: "btn btn-danger",
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure to delete it?"
                    } 
                %>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>